body,
html {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #29088A;
}

header h1 {
  margin: 0;
  color: white;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

nav li a{
  margin-left: 20px;
  color: #FFFFFF;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.store-item {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
.store-item span {
  display: inline;
  margin-right: 10px;
}

footer {
  padding: 20px;
  background: #29088A;
  text-align: center;
  color: #FFFFFF;
}



